@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: darkgray; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F2937; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media screen and (min-width: 1024px) {
  .biko {
    height: 500px;
  }
}